<!DOCTYPE html>
<html lang="en">

<head>
    <title>eGyan - Course Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/logo_mini_fav.png" />
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <!-- Page Contents -->
    <div class="pusher">
        <!-- Main Header -->
        <div class="ui vertical center aligned segment">
            <div class="ui container">
                <!-- Top Menu -->
                <div class="ui secondary menu">
                    <div class="item"><a href="/student"><img src="/img/logo.png" alt="eGyan" class="ui image" /></a></div>
                    <div class="right item">
                        <button class="ui teal button logout_btn">LOGOUT</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content -->
        <div class="ui vertical padded segment">
            <div class="ui middle aligned stackable grid container" id="user_content">
                <!-- Course Description -->
                <div class="row">
                    <div class="sixteen wide column">
                        <h2 class="ui header">
                            <img class="ui medium image" src="/uploads/html5.png">
                            <div class="content">
                                Introduction to HTML5
                            </div>
                        </h2>
                        <hr class="main_hr" />
                        <div class="ui grid">
                            <div class="row">
                                <div class="two wide column"><strong>About:</strong></div>
                                <div class="fourteen wide column">Description about the course.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Course Content -->
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui raised very padded text segment" id="course_content">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="four wide column">
                                        <div class="ui segment course_segment">
                                            <div class="ui basic segment">
                                                <button class="ui fluid grey button">Syllabus</button>
                                            </div>
                                            <div class="ui vertical styled accordion" id="course_accordion">
                                                <!-- First module -->
                                                <div class="item">
                                                    <div class="active title"><i class="dropdown icon"></i> Module 1</div>
                                                    <div class="active content">
                                                        <div class="ui link list topic_list">
                                                            <a class="item active"><i class="chevron circle right icon"></i>
                                                        <div class="content">Overview</div>
                                                            </a>
                                                            <a class="item"><i class="chevron circle right icon"></i>
                                                        <div class="content">History</div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Second module -->
                                                <div class="item">
                                                    <div class="title"><i class="dropdown icon"></i> Module 2</div>
                                                    <div class="content">
                                                        <div class="ui link list topic_list">
                                                            <a class="item"><i class="chevron circle right icon"></i>
                                                        <div class="content">Basic Syntax</div>
                                                            </a>
                                                            <a class="item"><i class="chevron circle right icon"></i>
                                                        <div class="content">Basic Tags</div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End of modules -->
                                            </div>
                                            <!-- End of Accordion -->
                                        </div>
                                    </div>
                                    <!-- Topic content -->
                                    <div class="twelve wide column">
                                        <div class="ui segment course_segment" id="topic_content">
                                            <h3 class="ui header">Module 1 - Overview</h3>
                                            <hr class="main_hr" />
                                            <div class="topic_detail">
                                                <p>HTML5 is a markup language used for structuring and presenting content on
                                                    the World Wide Web. It is the fifth and current version of the HTML standard.
                                                    It was published in October 2014 by the World Wide Web Consortium (W3C)
                                                    to improve the language with support for the latest multimedia, while
                                                    keeping it both easily readable by humans and consistently understood
                                                    by computers and devices such as web browsers, parsers, etc. HTML5 is
                                                    intended to subsume not only HTML 4, but also XHTML 1 and DOM Level 2
                                                    HTML.</p>
                                            </div>
                                            <hr class="main_hr" />
                                            <div class="ui basic center aligned segment">
                                                <button class="ui right labeled icon button"><i class="checkmark icon"></i> TOPIC COMPLETED</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Feedback -->
                <div class="row">
                    <div class="sixteen wide column">
                        <h2 class="ui header">
                            <div class="content">
                                Feedback
                            </div>
                        </h2>
                        <hr class="main_hr" />
                        <div class="ui grid">
                            <div class="row">
                                <div class="two wide column"><strong>Rate this Course:</strong></div>
                                <div class="fourteen wide column">
                                    <div class="ui star rating" data-rating="0" data-max-rating="5"></div> <em id="rating_msg">(Not yet Rated!)</em></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of feedback -->
            </div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui inverted stackable grid">
                    <div class="seven wide column">
                        <h4 class="ui inverted header">&copy;2017 eGyan Elearning.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/user_common.js"></script>
    <script src="/js/course_home.js"></script>
    <script src="/js/student_main.js"></script>
    <script src="/js/logout.js"></script>
</body>

</html>