<!-- Page Contents -->
<div class="pusher">
    <!-- Main Header -->
    {{> navBasic }}
    <!-- Main Content -->
    <div class="base_container">
        <div class="ui raised very padded text container segment">
            <h2 class="ui header">Logged Out!</h2>
            <p>You have been successfully logged out of the system!</p>
            <p><strong>Redirecting to home page in <span id="redirect_counter">10</span>seconds</strong></p>
        </div>
    </div>
    <!-- Footer -->
    {{> footer }}
</div>
<!-- Scripts -->
{{> scriptsCommon }}
{{> scriptsUserCommon }}