<!DOCTYPE html>
<html lang="en">

<head>
    <title>eGyan - Student Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/logo_mini_fav.png" />
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <!-- Page Contents -->
    <div class="pusher">
        <!-- Main Header -->
        <div class="ui vertical center aligned segment">
            <div class="ui container">
                <!-- Top Menu -->
                <div class="ui secondary menu">
                    <div class="item"><a href="/student"><img src="/img/logo.png" alt="eGyan" class="ui image" /></a></div>
                    <div class="right item">
                        <button class="ui teal button logout_btn">LOGOUT</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Display Messages -->
        <div class="ui aligned basic segment" id="message_display">
            <div class="ui centered grid">
                <div class="twelve wide column">
                    <h2 class="ui header user_welcome">
                        <i class="user icon"></i>
                        <div class="content">
                            <em>Hi <span id="displayName"></span></em>
                        </div>
                    </h2>
                    <div id="user_badge_message"></div>
                </div>
            </div>
        </div>
        <!-- Main Content -->
        <div class="ui vertical padded segment">
            <div class="ui middle aligned stackable grid container" id="user_content">
                <div class="row">
                    <div class="sixteen wide column">
                        <h1 class="ui header inline_header">Your Badges</h1>
                        <div class="ui icon tiny teal button tooltip_btn"><i class="large help icon"></i></div>
                        <div class="ui inverted popup transition hidden help_popup">
                            <p>Collect points to get more badges. The more courses you participate and complete you will get
                                more badges.</p>
                        </div>
                        <hr class="main_hr" />
                        <p class="basic_content"><strong>Total Points: </strong><span id="total_points"></span></p>
                        <div class="ui five doubling cards loader_content" id="badge">
                            <div class="ui active centered inline large text loader">Loading Badges...</div>
                            <!-- Display badges -->
                        </div>
                    </div>
                </div>
                <!-- End of your Badges -->
                <div class="row">
                    <div class="sixteen wide column">
                        <h1 class="ui header">Active Courses</h1>
                        <hr class="main_hr" />
                        <div class="course_content loader_content">
                            <div class="ui vertical fluid accordion menu main_accordion" id="active_course_accordion">
                                <div class="ui active centered inline large text loader course_loader">Loading Courses...</div>
                                <!-- Active Courses Display -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Active Courses -->
                <div class="row">
                    <div class="sixteen wide column">
                        <h1 class="ui header">Completed Courses</h1>
                        <hr class="main_hr" />
                        <div class="course_content loader_content">
                            <div class="ui vertical fluid accordion menu main_accordion" id="completed_course_accordion">
                                <div class="ui active centered inline large text loader course_loader">Loading Courses...</div>
                                <!-- Completed Courses Display -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Completed courses -->
                <div class="row">
                    <div class="sixteen wide column">
                        <h1 class="ui header">Available Courses</h1>
                        <hr class="main_hr" />
                        <div class="course_content loader_content">
                            <div class="ui vertical fluid accordion menu main_accordion" id="available_course_accordion">
                                <div class="ui active centered inline large text loader course_loader">Loading Courses...</div>
                                <!-- Available Courses Display -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Available courses -->
            </div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui inverted stackable grid">
                    <div class="seven wide column">
                        <h4 class="ui inverted header">&copy;2017 eGyan Elearning.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/user_common.js"></script>
    <script src="/js/student_home.js"></script>
    <script src="/js/course_accordion.js"></script>
    <script src="/js/student_main.js"></script>
    <script src="/js/logout.js"></script>
</body>

</html>