<div class="row">
    <div class="sixteen wide column">
        <h1 class="ui header">{{courseType}}</h1>
        <hr class="main_hr" />
        <div class="course_content loader_content">
            <div class="ui vertical fluid accordion menu main_accordion" id="{{courseTypeId}}">
                <div class="ui active centered inline large text loader course_loader">Loading Courses...</div>
            </div>
        </div>
    </div>
</div>