<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted stackable grid">
            <div class="seven wide column">
                <h4 class="ui inverted header">&copy;2017 eGyan Elearning.</h4>
                <p>Powered by <a href="https://hasura.io/" target="_blank" class="ui basic orange label" id="platform_link">Hasura</a></p>
            </div>
        </div>
    </div>
</div>