<div class="ui basic small modal login_modal">
    <i class="close icon"></i>
    <div class="ui center aligned large header"><img src="/img/logo_mini.png" class="ui image"> LOGIN</div>
    <div class="content">
        <div class="ui middle aligned grid">
            <div class="column">
                <form class="ui form" id="login_form">
                    <div class="ui stacked segment">
                        <div class="field">
                            <label>Email</label>
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="email" name="username" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="ui large teal submit flat button" id="login_btn">LOGIN</div>
                        <div class="main_loader" id="login_loader">
                            <div class="ui active inline loader"></div>
                            <div class="loader_text">Logging in...</div>
                        </div>
                    </div>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
</div>