<div class="ui basic segment">
    <button class="ui fluid grey button syllabus_btn active">Syllabus</button>
</div>
<div class="ui vertical styled accordion main_course_accordion">
    <div class="ui active centered inline text loader">Loading Modules...</div>
    <!--Displaying Modules -->
</div>