<div class="ui vertical center aligned segment">
    <div class="ui container">
        <!-- Top Menu -->
        <div class="ui secondary menu">
            <div class="item"><a href="/"><img src="/img/logo.png" alt="eGyan" class="ui image" /></a></div>
        </div>
    </div>
</div>