<div class="ui vertical center aligned segment">
    <div class="ui container">
        <!-- Top Menu -->
        <div class="ui secondary menu">
            <div class="item"><a href="/student"><img src="/img/logo.png" alt="eGyan" class="ui image" /></a></div>
            <div class="right item">
                <button class="ui teal button logout_btn">LOGOUT</button>
            </div>
        </div>
    </div>
</div>