<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted stackable grid">
            <div class="seven wide column">
                <h4 class="ui inverted header">&copy;2017 eGyan Elearning.</h4>
            </div>
        </div>
    </div>
</div>